/*************** GLOBAL SETTINGS ***************/
body {
  font-family: "Vollkorn", serif;
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --white: white;
  --blue: #0a33ac;
  --blue-flash: #0f4bff;
  --brown: #b38100;
  --orange: #ffbd0f;
  --green: #daf7a6;
  --pale-blue: #c7d5ff;
  --dark-grey: #636a80;
  --light-grey: rgb(240, 242, 247);
  --light-black: #323540;
  --transparent-blue: rgba(65, 105, 225, 0.4);
  --background-blue: #b2c7e6;
}
section {
  margin: 80px 0;
  min-height: 70vh;
}
h2 {
  font-size: 1.8vmax;
}
a {
  text-decoration: none;
  color: var(--blue);
}

/*************** NAVBAR ***************/
.navbar {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: var(--blue);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  box-shadow: 0px 10px 15px #dcdcdc;
}
.navbar__brandbox {
  width: 40%;
  margin: 0 30px;
  display: flex;
  align-items: center;
}
.navbar__logo > img {
  max-height: 45px;
}
.navbar__sectionsbox {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

/*************** HERO ***************/
.hero {
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../ressources/girl-in-recordshop.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
h1 {
  font-size: 2.5vmax;
  padding-left: 10%;
  padding-bottom: 15%;
}
h1 > span {
  text-align: right;
  background-color: var(--transparent-blue);
  color: white;
  display: inline;
  line-height: 1.4;
  padding: 0.2rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/*************** SECTION  ***************/
.title-section {
  position: relative;
  display: flex;
  margin: -5px 0;
  justify-content: space-between;
}
.see-more {
  margin: 0 35px;
}
.title-section h2 {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-weight: bold;
  margin: -1px 20px;
  transform: rotate(-10deg);
}
.title-section h2 span {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--blue);
}
.product-detail {
  color: var(--light-black);
  text-decoration: none;
  display: inline-block;
  padding: 7px 10px;
  border-bottom: 3px solid var(--transparent-blue);
}
/***** New Release *****/
/***** Flexbox *****/
.new-release {
  margin: 0 15px;
  padding: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
}
.new-release::-webkit-scrollbar {
  display: none;
}
/****** Flex items ******/
.new-release__vinyl {
  width: 24vw;
  margin: 0 15px;
  flex: 0 0 auto;
}
.new-release__vinyl img {
  object-fit: cover;
}
figcaption {
  color: var(--light-black);
  padding: 5px;
  line-height: 1.2;
  text-align: center;
  font-size: 0.8em;
  margin-top: 10px;
}

/***** Hardware *****/
/***** Flexbox *****/
.back-in-stock {
  color: white;
  position: absolute;
  right: 5px;
  bottom: -35px;
  font-weight: bold;
  background-color: var(--blue);
  padding: 45px 10px;
  border-radius: 50%;
  transform: rotate(5deg);
}
.hardware {
  background-image: url(../ressources/Background.png);

  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
/****** Flex items ******/
.hardware__product {
  position: relative;
  margin-bottom: 40px;
  flex: 1 1 35%;
  max-width: 40vw;
  overflow: hidden;
}
figure.hardware__product img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.hardware__product img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

/****** PRODUCT INFO FLEXBOX ******/
.product-info {
  color: var(--light-black);
  padding: 5px;
  line-height: 1.2;
  text-align: center;
  font-size: 0.8em;
  margin-top: 10px;
  padding: 15px 10px;
  background-color: rgba(240, 242, 247, 0.3);
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex: 1 1 2rem;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.cart-btn {
  color: #323540;
  padding: 5px;
  border: solid 2px var(--dark-grey);
}
.cart-btn:hover {
  color: white;
  background-color: var(--dark-grey);
}

/****** SECTION ABOUT US ******/
section.about-us {
  margin: -80px 0;
  height: 100vh;
  background-image: url(../ressources/recordshop.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__bloc {
  padding: 5rem;
  background-color: rgba(240, 242, 247, 0.7);
  font-family: "Roboto", sans-serif;
}
.about-us__bloc h3 {
  font-size: 2rem;
  font-weight: 1000;
  margin-bottom: 30px;
}
.learn-more-btn {
  margin: 10px 0;
  padding: 7px;
  border: solid 1px var(--light-black);
  border-radius: 6px;
  width: fit-content;
}
