body {
  font-family: 'Vollkorn', serif;
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem;
}

/*************** NAVBAR ***************/
.navbar {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #F8F8FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  box-shadow: 0px 10px 15px #dcdcdc;
}
.navbar__brandbox {
  width: 40%;
  margin: 0 30px;
  display: flex;
  align-items: center;
}
.navbar__logo > img {
  max-height: 45px;
}

.navbar__sectionsbox {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

/*************** HERO ***************/
.hero {
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../ressources/girl-in-recordshop.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1{
padding-left: 10%;
padding-bottom: 15%;
}
h1 > span {
  text-align: right;
  background-color: rgba(65, 105, 225, 0.4);

  color: white;
  display: inline;
  line-height: 1.4;
  padding: 0.2rem; */

  box-decoration-break: clone; */
  -webkit-box-decoration-break: clone; */
}
